<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new tweet</title>
</head>
<body>
  <form method="post" action="/tweets">
    <textarea rows="30" cols="80" name="content"></textarea>
    <button>submit</button>
  </form>
  
</body>
</html>